#maincard {
  width: 78%;
  position: relative;
  left: 17em;
  top: 4em;
}
.pic {
  position: relative;
  width: 30em;
}
h2 {
  color: white !important;
}
.card {
  flex-direction: inherit !important;
  background-color: #ad3f3f00 !important;
}
.card.horizontal .card-image {
  max-width: unset !important;
}
.card.horizontal .card-stacked {
  position: relative !important;
  background-color: #2f2f4f !important;
  color: snow !important;
  text-overflow: ellipsis !important;
}
.card.horizontal .card-stacked .card-content {
  text-align: left;
  font-size: 16px !important;
}
