#logo {
  width: 67px;
  position: relative;
  left: 36px;
  margin: 11px;
}

.search {
  background-color: white !important;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px !important;
  /* text-align: left; */
  /* text-decoration: none; */
  /* display: inline-block; */
  /* font-size: 15px; */
  /* margin: 42px !important; */
  width: 47em !important;
  height: 40px !important;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.16) !important;
  vertical-align: top;
  position: relative;
  left: 132px;
  top: 18px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px !important;
  box-sizing: border-box !important;
}
form {
  width: 30px;
}

nav {
  color: #7b4343;
  background-color: #353f5c;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

#logoimage {
  width: 58px !important;
  position: fixed;
  top: 6px;
  left: 59px;
}
#logoimagediv {
  width: 10em !important;
}
.tabs.tabs-transparent {
  background-color: #cec5c500;
  position: relative;
  left: 109px;
}

#sbaricon {
  /* position: relative; */
  height: 0px;
  position: relative;
  left: 60em;
  bottom: -18px;
}

i.large {
  font-size: 3rem !important;
}

nav {
  color: #000000;
  background-color: #2f2f4f;
  width: 100%;
  height: 56px;
  line-height: 56px !important;
}
input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
  background-color: auto;
  border: auto !important;
  border-bottom: auto !important;
  outline: none;
  width: 47em !important;
  font-size: 16px;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 25px !important;
  padding: 20px !important;
  height: fit-content !important;
}
